/* Home */
.home_container {
    display: flex;
    padding-top: 20px;
}

/* Element selector */
.elm_selector {
    flex-basis: 20%;
    padding: 0 15px;
}

.elm_selector_title {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
}

.elm_selector_desc {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 10px 0;
    color: gray;
}

.placeholders_container span {
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    margin: 5px 5px;
    border: 1px solid rgb(255, 122, 122);
    border-radius: 40px;
    display: inline-block;
    background-color: rgb(255, 224, 224);
    color: rgb(177, 0, 0);
    font-size: 12px;
    cursor: grab;
}

.date_placeholders_container span {
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
    margin: 5px 5px;
    border: 1px solid rgb(122, 122, 255);
    border-radius: 40px;
    display: inline-block;
    background-color: rgb(224, 224, 255);
    color: rgb(0, 0, 177);
    font-size: 12px;
    cursor: grab;
}

/* Jodit Component Style */
.jodit_container {
    flex-basis: 60%;
    height: 100vh;
    margin: auto;
}

/* Element editor */
.elm_editor {
    flex-basis: 20%;
}

.elm_editor_container {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 15px;
    height: 95vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.elm_editor_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(234, 234, 234);
}

.elm_editor_header p {
    font-size: 12px;
    color: gray;
}

.elm_editor_header h4 {
    color: rgba(0, 0, 0, 0.767);
}

.elm_editor_header svg {
    cursor: pointer;
}

.elm_editor_body {
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 100%;
    padding: 20px 10px;
}